main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white
}

img {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    border-radius: 0%;
}

.about-container{
    width:50%;
    margin: 50px auto;
    display: flex;
}