* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(48, 48, 48);
    color: #333333;

  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* ===================== HAMBURGER MENU ===================== */

.hamburger-menu {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
}

.hamburger-menu .bar {
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger-menu {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
    z-index: 1000;
}

.hamburger-menu .bar {
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    transition: 
        transform 0.3s ease,
        opacity 0.3s ease;
}

.hamburger-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;

    transform: translateX(-220px);
    transition: transform 0.35s ease;

    background-color: #22222260;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    z-index: 999;

    width: 100%;
    max-width: 200px;
    height: 44%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.special-links:link, .special-links:visited {
    color: #f4c652;
    margin: 4px;
    text-decoration: none;
}

.non-special-links:link, .non-special-links:visited {
    color: #529ef4;
    margin: 4px;
    text-decoration: none;
}
hr {
    border: 1px solid #555;
    margin: 8px 0;
}
.hamburger-list .normal-links:link, .hamburger-list .normal-links:visited {
    color: aliceblue;
    text-decoration: none;
    margin: 4px;
}

/* ACTIVE STATE */

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(10.5px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-10.5px) rotate(-45deg);
}

.hamburger-list.active {
    transform: translateX(20px);
}



.headline {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 2.5em;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}