* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(48, 48, 48);
    color: #333333;

  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hamburger-menu {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
}

.hamburger-menu .bar {
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}



.headline {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 2.5em;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}