.container {
    margin: 50px auto;
    width: 60%;
    overflow: hidden;
    background-color: #22222260;
    border-radius: 10px;
}

.box {
    width: 95%;
    height: 50%;
    background-color: hsla(0, 1%, 20%, 0.3);
    border: 2px solid #282828;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    color: #fff;

    display: flex;
    justify-content: space-between;
}

.task-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-buttons * {
    transition: all 0.3s ease;
}

.delete-task-button:hover {
    background-color: #666;
    color: #fff;
}

.box .task-buttons button {
    margin: 2.5px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.add-task{
    background-color: #22222260;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 60%;
    height: 20vh;
}

.add-task-button{
    margin: auto;
    width: 120px;
    height: 40px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.task-stats-box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin: 10px auto;
    padding: 10px;

}

.task-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 10px;
}

.task-description{
    font-size: 12px;
    color: #bfbfbf;
}

.task-due-date{
    font-size: 12px;
    color:#f4c652
}
.task-stats-box h3{
    color: #fff;
}


/* placeholder styling for contenteditable */
[contenteditable="true"][data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #888;
    pointer-events: none;
}